h2 {
    color:blue; 
    font-family:'Times New Roman', Times, serif; 
    font-weight: normal; 
    background-color: azure; 
    border-style: solid; 
    border-color:blueviolet; 
    border-width: thick;
}
#pyElement {
    color:brown;
    font-style: italic;
}
.odd {
    background-color: lightcyan;
}